/* Headings and body */

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #3a3a3a;
}

body {
    font-family: 'Lato', sans-serif;
    color: #3a3a3a;
}

#name-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 350%;
    margin-top: 120px;
    margin-bottom: 10px;

}

#job-title {
    text-align: center;
    font-size: 200%;
    letter-spacing: 2px;
    margin-top: -5px;
}

#navigation {
    float: right;
    font-size: 150%;
    letter-spacing: 2px;
    color: #3a3a3a;
    position: relative;
    bottom: 270px;
}

#navigation li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#header-box {
    background-color: rgba(130, 129, 127, 0);
    padding-bottom: 70px;
    border-radius: 5px;
}

/* Background image */

body {
    background-image: url(../images/leone-venter-VieM9BdZKFo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

/* Main image */

#self-div {
    /* background-image: url(../images/gabriel-tovar-Zm_VHSZzjk4-unsplash.jpg); */
    height: 400px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    border: 5px solid #000000;
    border-radius: 50%;
    padding: 10px;
    background-position: 50% 40%;
}

#self {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 50%;
}

/* Skills */

.columns {
    display: flex;
    
}

.col {
    width: 33.333%;
}

#main-content {
    left: 50%;
    top: 120%;
    position: absolute;
}