/* Headings and body */

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #3a3a3a;
}

h3 {
    font-size: 30px;
}

body {
    font-family: 'Lato', sans-serif;
    color: #3a3a3a;
    margin: 0 auto;
}

#name-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 4rem;
    margin-top: 120px;
    margin-bottom: 10px;

}

#job-title {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-top: -5px;
}

/* Links and navigation */

#navigation {
    color: #3a3a3a;
}

#navigation li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

a:visited { 
    text-decoration: none; 
    color: #3a3a3a; 
   }

#header-box {
    background-color: rgba(130, 129, 127, 0);
    padding-bottom: 70px;
    border-radius: 5px;
}

/* Background image */

body {
    background-image: url(../images/keyboard-background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

/* Main image */

#self-div {
    height: 400px;
    width: 400px;
    border: 5px solid #000000;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
    margin-top: 400px;
}

#self {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Skills */

.columns {
    display: flex;
    justify-content: space-evenly;
    
}

.col {
    width: 50ch;
}

#main-content {
    top: 110%;
    border: 2px solid #3d3d3d;
    background-color: rgba(130, 129, 127, 0.95);
    color: white;
    border-radius: 5px;
    margin-top: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 20px;
    line-height: 35px;
}

/* Footer */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 320px;
    background-color: rgba(130, 129, 127, 0.95);
    text-align: center;
    color: white;
    border: 2px solid #3d3d3d;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 2rem;
    padding: 40px 80px;
    color: white;
    
}

/* about me */

#about {
    border: 2px solid #3d3d3d;
    background-color: rgba(130, 129, 127, 0.95);
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 400px;
    line-height: 35px;
}

#about-text {
    width: 50ch;
    font-size: 20px;
}

#frame {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 145px;
    
}

#iframe-header-div {
    border: 2px solid #3d3d3d;
    background-color: rgba(130, 129, 127, 0.95);
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 400px;
    border-bottom-width: 0px;
}

/* contact me page */

#contact-form {
    border: 2px solid #3d3d3d;
    background-color: rgba(130, 129, 127, 0.95);
    color: white;
    border-radius: 5px;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 200px;
    text-align: center;
    margin-bottom: 50px;
}

#contact-heading {
    color: white;
    letter-spacing: 0.33ch;
    font-size: 3rem;

}

input {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid #3d3d3d;
}

#user_email {
    padding-right: 70px;
}

textarea {
    margin: 0.5rem;
    border: 2px solid #3d3d3d;
    padding: 10px;
}

#submit {
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.5rem 30px;
}

::placeholder {
    text-transform: uppercase;
    font-size: 1rem;
}

/* Media Queries */

/* For Tablets 1500px wide and lower */
@media screen and (max-width: 1500px) {
    body {
        background-position: center;
    }
    
    .col {
        width: 65ch;
    }
    #main-content {
        padding-left: 30px;
        padding-right: 30px;
    }
    #about {
        padding-left: 30px;
        padding-right: 30px;
    }


}

@media screen and (max-width: 950px) {
    .columns {
        display: block;
    }
 
}

@media screen and (max-width: 600px) {
    .social-networks i {
        font-size: 1.5rem;
        padding: 20px 40px;
    }

    #navigation {
        font-size: 105%;

    }
  
}

@media screen and (max-width: 450px) {
    #self-div {
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }

    #navigation ul {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 10px;
        text-align: center;
        float: none;
    }

    #navigation li {
        padding-top: 20px;
    }

    #header-box {
        padding-bottom: 10px;
    }

    #name-title {
        margin-top: 30px;
    }

    #main-content {
        margin-top: 160px;
    }

    #about {
        margin-top: 60px;
    }
}

@media screen and (max-width: 350px) {
    .social-networks i {
        font-size: 1.25rem;
        padding: 10px 20px;
    }
  
}


/* media query for nav */


@media screen and (min-width: 600px) {
    #navigation {
    float: right;
    font-size: 150%;
    letter-spacing: 2px;
    position: relative;
    bottom: 270px;
    }
}
